.home-holder {
    background-color: red;
    /* flex:1; */
    /* min-height: 90vh; */
}

.home-inner {
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 80%; */
    width: 30%;
    color: #fff;
}

.home-btn {
    background-color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}

.home-btn:hover {
    cursor: pointer;
}

.home-btn-holder {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 50%;
    display: flex;
    justify-content: center;
}