.main-section {
    /* background-color: red; */
    min-height: 90vh;
}

.main-container {
    height: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-search {
    border: none;
    padding: 10px;
    border-radius: 30px;
    background-color: #efefef;
    border: 0.5px #000 solid;
}

.main-head {
    display: flex;
    width: 50%;
    justify-content: space-around;
    /* padding: 20px; */
}

.main-topic {
    width: 80%;
    /* height: 50%; */
    min-height: 300px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px #000 solid;
    border-radius: 5px;
    background-color: #efefef;
    margin-top: 20px;
    justify-content: space-around;
}

.submit {
    background-color: aqua;
    padding: 10px 60px;
    width: 200px;
    border-radius: 6px;   
}

.submit:hover {
    cursor: pointer;
}

.submit-text {
    color: #000;
    font-weight: bold;
    font-size:16px;
}

.main-choices {
    display: flex;
    flex-direction: column;
}

.main-topic-choices {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 10px;
}

.enrolled {
    /* background-color: red; */
    width: 80%;
    padding: 10px;
}

.enrolled-subject {
    background-color: #efefef;
    padding: 10px;
    margin-right: 10px;
}

.enrolled-scroll {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}